<p style="color: green"><%= notice %></p>

<h1>Friendships</h1>

<div id="friendships">
  <% @friendships.each do |friendship| %>
    <%= render friendship %>
    <p>
      <%= link_to "Show this friendship", friendship %>
    </p>
  <% end %>
</div>

<%= link_to "New friendship", new_friendship_path %>
<%= link_to 'New friendships', new_friendships_path, class: 'btn btn-primary' %>
